service/src/main/java/com/content/hce/HCE1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce__unit"
             xmlns:art="http://www.icitic.com/ns/artery"
             xmlns:UnionPay_hce="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             name="UnionPay_hce_Proxy"
             targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce__unit"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/ http://schemas.xmlsoap.org/wsdl/">
    <documentation>银联HCE接入</documentation>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHceBody/">
            <annotation>
                <documentation>HCE报文体</documentation>
            </annotation>
            <element name="ServicInstanceReference">
                <annotation>
                    <documentation>云卡唯一标识</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="Reference" type="string">
                            <annotation>
                                <documentation>ID值</documentation>
                            </annotation>
                        </element>
                        <element name="ReferenceOwner" type="string">
                            <annotation>
                                <documentation>标识字符串</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="FuctionExecutionStatus">
                <annotation>
                    <documentation>响应数据</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="Status" type="string">
                            <annotation>
                                <documentation>运行状态</documentation>
                            </annotation>
                        </element>
                        <element name="StatusCodteData">
                            <annotation>
                                <documentation>异常信息</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="Subject" type="string">
                                        <annotation>
                                            <documentation>引起异常的系统元素</documentation>
                                        </annotation>
                                    </element>
                                    <element name="Reason" type="string">
                                        <annotation>
                                            <documentation>原因，对应接口中的返回码</documentation>
                                        </annotation>
                                    </element>
                                    <element name="Message" type="string">
                                        <annotation>
                                            <documentation>可读异常字符串</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="ApplyInfo">
                <annotation>
                    <documentation>申请信息</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="UserID" type="string">
                            <annotation>
                                <documentation>UserID</documentation>
                            </annotation>
                        </element>
                        <element name="Name" type="string">
                            <annotation>
                                <documentation>用户姓名</documentation>
                            </annotation>
                        </element>
                        <element name="IDType" type="string">
                            <annotation>
                                <documentation>证件类型</documentation>
                            </annotation>
                        </element>
                        <element name="IDValue" type="string">
                            <annotation>
                                <documentation>证件号码</documentation>
                            </annotation>
                        </element>
                        <element name="MSISDN" type="string">
                            <annotation>
                                <documentation>手机号</documentation>
                            </annotation>
                        </element>
                        <element name="Email" type="string">
                            <annotation>
                                <documentation>邮箱</documentation>
                            </annotation>
                        </element>
                        <element name="PAN" type="string">
                            <annotation>
                                <documentation>主账号</documentation>
                            </annotation>
                        </element>
                        <element name="ValidDate" type="string">
                            <annotation>
                                <documentation>有效期</documentation>
                            </annotation>
                        </element>
                        <element name="PIN" type="string">
                            <annotation>
                                <documentation>借记卡</documentation>
                            </annotation>
                        </element>
                        <element name="CVN2" type="string">
                            <annotation>
                                <documentation>信用卡</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="ActivationInfo">
                <annotation>
                    <documentation>ActivationType</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="UserId" type="string">
                            <annotation>
                                <documentation>UserId</documentation>
                            </annotation>
                        </element>
                        <element name="TokenPAN" type="string">
                            <annotation>
                                <documentation>标记</documentation>
                            </annotation>
                        </element>
                        <element name="ActivationCode" type="string">
                            <annotation>
                                <documentation>激活码</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="HceCardInfo">
                <annotation>
                    <documentation>云卡信息</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="UserId" type="string">
                            <annotation>
                                <documentation>UserId</documentation>
                            </annotation>
                        </element>
                        <element name="UserName" type="string">
                            <annotation>
                                <documentation>持卡人名称</documentation>
                            </annotation>
                        </element>
                        <element name="IDType" type="string">
                            <annotation>
                                <documentation>证件类型</documentation>
                            </annotation>
                        </element>
                        <element name="IDValue" type="string">
                            <annotation>
                                <documentation>证件号码</documentation>
                            </annotation>
                        </element>
                        <element name="Email" type="string">
                            <annotation>
                                <documentation>邮箱</documentation>
                            </annotation>
                        </element>
                        <element name="PAN" type="string">
                            <annotation>
                                <documentation>主账号</documentation>
                            </annotation>
                        </element>
                        <element name="ApplyDate" type="string">
                            <annotation>
                                <documentation>申请日期</documentation>
                            </annotation>
                        </element>
                        <element name="ActivateDate" type="string">
                            <annotation>
                                <documentation>激活日期</documentation>
                            </annotation>
                        </element>
                        <element name="ValidateLUKCount" type="string">
                            <annotation>
                                <documentation>当前已下载未使用的LUK数</documentation>
                            </annotation>
                        </element>
                        <element name="TokenPAN" type="string">
                            <annotation>
                                <documentation>云卡标记</documentation>
                            </annotation>
                        </element>
                        <element name="ExpireDate" type="string">
                            <annotation>
                                <documentation>云卡有效期</documentation>
                            </annotation>
                        </element>
                        <element name="Status" type="string">
                            <annotation>
                                <documentation>云卡状态</documentation>
                            </annotation>
                        </element>
                        <element name="Locked" type="string">
                            <annotation>
                                <documentation>发卡行锁定标志</documentation>
                            </annotation>
                        </element>
                        <element name="Lost" type="string">
                            <annotation>
                                <documentation>持卡人挂失标志</documentation>
                            </annotation>
                        </element>
                        <element name="DeviceModel" type="string">
                            <annotation>
                                <documentation>设备型号</documentation>
                            </annotation>
                        </element>
                        <element name="DeviceSN" type="string">
                            <annotation>
                                <documentation>设备序列号</documentation>
                            </annotation>
                        </element>
                        <element name="OsType" type="string">
                            <annotation>
                                <documentation>操作系统类型</documentation>
                            </annotation>
                        </element>
                        <element name="OsVersion" type="string">
                            <annotation>
                                <documentation>操作系统版本</documentation>
                            </annotation>
                        </element>
                        <element name="DeviceId" type="string">
                            <annotation>
                                <documentation>设备ID</documentation>
                            </annotation>
                        </element>
                        <element name="IMEI" type="string">
                            <annotation>
                                <documentation>IMEI</documentation>
                            </annotation>
                        </element>
                        <element name="WalletName" type="string">
                            <annotation>
                                <documentation>移动应用名称</documentation>
                            </annotation>
                        </element>
                        <element name="WalletSignature" type="string">
                            <annotation>
                                <documentation>移动应用签名</documentation>
                            </annotation>
                        </element>
                        <element name="WalletVersion" type="string">
                            <annotation>
                                <documentation>移动应用版本</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="EntityInfo">
                <annotation>
                    <documentation>实体的类型</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="EntityType" type="string">
                            <annotation>
                                <documentation>实体的类型</documentation>
                            </annotation>
                        </element>
                        <element name="Value" type="string">
                            <annotation>
                                <documentation>实体的值</documentation>
                            </annotation>
                        </element>
                        <element name="OperationReason" type="string">
                            <annotation>
                                <documentation>操作原因</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="PanUpdateInfo">
                <annotation>
                    <documentation>主账号的更新</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="OriginalPAN" type="string">
                            <annotation>
                                <documentation>原始卡号</documentation>
                            </annotation>
                        </element>
                        <element name="NewPan" type="string">
                            <annotation>
                                <documentation>变更后的新卡号</documentation>
                            </annotation>
                        </element>
                        <element name="ValidDate" type="string">
                            <annotation>
                                <documentation>有 效期</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="FunctionCallIdentifier" type="string">
                <annotation>
                    <documentation>发起者标识</documentation>
                </annotation>
            </element>
            <element name="ValidityPeriod" type="string">
                <annotation>
                    <documentation>请求有效时长</documentation>
                </annotation>
            </element>
            <element name="extensions" type="string">
                <annotation>
                    <documentation>自定义的扩展</documentation>
                </annotation>
            </element>
            <element name="ProcessingStart" type="string">
                <annotation>
                    <documentation>请求开始执行时间</documentation>
                </annotation>
            </element>
            <element name="ProcessingEnd" type="string">
                <annotation>
                    <documentation>请求结束执行时间</documentation>
                </annotation>
            </element>
            <element name="AcceptableValidityPeriod" type="string">
                <annotation>
                    <documentation>接口可接受的有效时长</documentation>
                </annotation>
            </element>
            <element name="Service" type="string">
                <annotation>
                    <documentation>卡产品标识</documentation>
                </annotation>
            </element>
            <element name="SecureElement" type="string">
                <annotation>
                    <documentation>CPS库标识ID</documentation>
                </annotation>
            </element>
            <element name="SuspensionControl" type="string">
                <annotation>
                    <documentation>操作标识</documentation>
                </annotation>
            </element>
            <element name="tranCode" type="string">
                <annotation>
                    <documentation>交易码</documentation>
                </annotation>
            </element>
            <element name="ApplyResponse">
                <annotation>
                    <documentation>申请的验证结果</documentation>
                </annotation>
                <complexType>
                    <sequence>
                        <element name="ImageId" type="string">
                            <annotation>
                                <documentation>图样ID</documentation>
                            </annotation>
                        </element>
                        <element name="CardHolderName" type="string">
                            <annotation>
                                <documentation>持卡人姓名</documentation>
                            </annotation>
                        </element>
                        <element name="PanExpire" type="string">
                            <annotation>
                                <documentation>主卡失效期</documentation>
                            </annotation>
                        </element>
                        <element name="CardExpire" type="string">
                            <annotation>
                                <documentation>云卡失日期</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHceHeader/" attributeFormDefault="unqualified"
                elementFormDefault="qualified" targetNamespace="http://www.artery.org/projects/HRXJUnionPayHceHeader/">
            <annotation>
                <documentation>hce报文头</documentation>
            </annotation>
            <element name="Action" type="string">
                <annotation>
                    <documentation>Action</documentation>
                </annotation>
            </element>
            <element name="MessageId" type="string">
                <annotation>
                    <documentation>UUID</documentation>
                </annotation>
            </element>
            <element name="To" type="string">
                <annotation>
                    <documentation>发送地址</documentation>
                </annotation>
            </element>
            <element name="RelatesTo" type="string">
                <annotation>
                    <documentation>响应原有UUID</documentation>
                </annotation>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns0="http://www.artery.org/projects/HRXJUnionPayHceHeader/"
                xmlns:ns1="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce">
            <element name="CheckGlobalEligibility">
                <complexType>
                    <sequence>
                        <element ref="ns0:MessageId">
                            <annotation>
                                <documentation>UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns1:FunctionCallIdentifier">
                            <annotation>
                                <documentation>发起者标识</documentation>
                            </annotation>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:ApplyInfo">
                                        <annotation>
                                            <documentation>申请信息</documentation>
                                        </annotation>
                                    </element>
                                    <element ref="ns1:ActivationInfo">
                                        <annotation>
                                            <documentation>ActivationType</documentation>
                                        </annotation>
                                    </element>
                                    <element name="Service" type="string">
                                        <annotation>
                                            <documentation>卡产品标识</documentation>
                                        </annotation>
                                    </element>
                                    <element name="SecureElement" type="string">
                                        <annotation>
                                            <documentation>标识ID</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="CheckGlobalEligibilityResponse">
                <complexType>
                    <sequence>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                        <element name="ResponseData">
                            <annotation>
                                <documentation>接口运行结果数据</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="Eligible" type="string">
                                        <annotation>
                                            <documentation>验证结果</documentation>
                                        </annotation>
                                    </element>
                                    <element name="ServiceInstanceState" type="string">
                                        <annotation>
                                            <documentation>云卡部署状态</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:ApplyResponse">
                                        <annotation>
                                            <documentation>申请的验证结果</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns0="http://www.artery.org/projects/HRXJUnionPayHceHeader/"
                xmlns:ns1="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce">
            <element name="DeployService">
                <complexType>
                    <sequence>
                        <element ref="ns0:MessageId">
                            <annotation>
                                <documentation>UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                        <element name="ResponseData">
                            <annotation>
                                <documentation>接口运行结果数据</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element name="Eligible" type="string">
                                        <annotation>
                                            <documentation>验证结果</documentation>
                                        </annotation>
                                    </element>
                                    <element name="ServiceInstanceState" type="string">
                                        <annotation>
                                            <documentation>云卡部署状态</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:HceCardInfo">
                                        <annotation>
                                            <documentation>云卡信息</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="DeployServiceResponse">
                <complexType>
                    <sequence>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns0="http://www.artery.org/projects/HRXJUnionPayHceHeader/"
                xmlns:ns1="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce">
            <element name="ExchangeServiceData">
                <complexType>
                    <sequence>
                        <element ref="ns0:MessageId">
                            <annotation>
                                <documentation>UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns0:RelatesTo">
                            <annotation>
                                <documentation>响应原有UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="ExchangeServiceDataResponse">
                <complexType>
                    <sequence>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns0="http://www.artery.org/projects/HRXJUnionPayHceHeader/"
                xmlns:ns1="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce">
            <element name="SuspendOrResumeService">
                <complexType>
                    <sequence>
                        <element ref="ns0:MessageId">
                            <annotation>
                                <documentation>UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns0:RelatesTo">
                            <annotation>
                                <documentation>响应原有UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:EntityInfo">
                                        <annotation>
                                            <documentation>实体的类型</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="SuspendOrResumeServiceResponse">
                <complexType>
                    <sequence>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns0="http://www.artery.org/projects/HRXJUnionPayHceHeader/"
                xmlns:ns1="http://www.artery.org/projects/HRXJUnionPayHceBody/"
                xmlns:tns="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.artery.org/projects/HRXJUnionPayHce/UnionPay_hce">
            <element name="TerminateService">
                <complexType>
                    <sequence>
                        <element ref="ns0:MessageId">
                            <annotation>
                                <documentation>UUID</documentation>
                            </annotation>
                        </element>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:EntityInfo">
                                        <annotation>
                                            <documentation>实体的类型</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="TerminateServiceResponse">
                <complexType>
                    <sequence>
                        <element ref="ns1:FuctionExecutionStatus">
                            <annotation>
                                <documentation>响应数据</documentation>
                            </annotation>
                        </element>
                        <element name="Extensions">
                            <annotation>
                                <documentation>Extensions</documentation>
                            </annotation>
                            <complexType>
                                <sequence>
                                    <element ref="ns1:EntityInfo">
                                        <annotation>
                                            <documentation>实体的类型</documentation>
                                        </annotation>
                                    </element>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="CheckGlobalEligibility">
        <part name="parameters" element="UnionPay_hce:CheckGlobalEligibility"></part>
    </message>
    <message name="DeployServiceResponse">
        <part name="parameters" element="UnionPay_hce:DeployServiceResponse"></part>
    </message>
    <message name="CheckGlobalEligibilityResponse">
        <part name="parameters" element="UnionPay_hce:CheckGlobalEligibilityResponse"></part>
    </message>
    <message name="TerminateService">
        <part name="parameters" element="UnionPay_hce:TerminateService"></part>
    </message>
    <message name="DeployService">
        <part name="parameters" element="UnionPay_hce:DeployService"></part>
    </message>
    <message name="ExchangeServiceData">
        <part name="parameters" element="UnionPay_hce:ExchangeServiceData"></part>
    </message>
    <message name="ExchangeServiceDataResponse">
        <part name="parameters" element="UnionPay_hce:ExchangeServiceDataResponse"></part>
    </message>
    <message name="SuspendOrResumeServiceResponse">
        <part name="parameters" element="UnionPay_hce:SuspendOrResumeServiceResponse"></part>
    </message>
    <message name="SuspendOrResumeService">
        <part name="parameters" element="UnionPay_hce:SuspendOrResumeService"></part>
    </message>
    <message name="TerminateServiceResponse">
        <part name="parameters" element="UnionPay_hce:TerminateServiceResponse"></part>
    </message>
    <portType name="unionPayHce">
        <documentation>银联HCE接入</documentation>
        <operation name="CheckGlobalEligibility">
            <documentation>账户验证/激活码申请/云卡激活</documentation>
            <input message="tns:CheckGlobalEligibility"></input>
            <output message="tns:CheckGlobalEligibilityResponse"></output>
        </operation>
        <operation name="DeployService">
            <documentation>云卡部署通知</documentation>
            <input message="tns:DeployService"></input>
            <output message="tns:DeployServiceResponse"></output>
        </operation>
        <operation name="TerminateService">
            <documentation>云卡注销</documentation>
            <input message="tns:TerminateService"></input>
            <output message="tns:TerminateServiceResponse"></output>
        </operation>
        <operation name="SuspendOrResumeService">
            <documentation>云卡或主账户的暂停/恢复</documentation>
            <input message="tns:SuspendOrResumeService"></input>
            <output message="tns:SuspendOrResumeServiceResponse"></output>
        </operation>
        <operation name="ExchangeServiceData">
            <documentation>主账号和主账号有效期更换</documentation>
            <input message="tns:ExchangeServiceData"></input>
            <output message="tns:ExchangeServiceDataResponse"></output>
        </operation>
    </portType>
    <binding name="unionPayHce-binding" type="tns:unionPayHce">
        <soap12:binding style="HCE" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CheckGlobalEligibility">
            <documentation>账户验证/云卡激活</documentation>
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="SuspendOrResumeService">
            <documentation>云卡或主账户的暂停/恢复</documentation>
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="ExchangeServiceData">
            <documentation>主账号和主账号有效期更换</documentation>
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="TerminateService">
            <documentation>云卡注销</documentation>
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="DeployService">
            <documentation>云卡部署通知</documentation>
            <soap12:operation soapAction="" style="document"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="UnionPay_hce_Proxy">
        <port name="jjjj" binding="tns:unionPayHce-binding">
            <soap12:address location="http://0.0.0.0:9999"/>
        </port>
    </service>
</definitions>